body {
  margin: 0;
  padding: 0;
  background-color: #f6fdfe;
  font-family: 'Montserrat', sans-serif;
  color: rgb(21, 19, 132);
}

form {
  margin: 50px auto;
  padding: 20px;
  width: 400px;
  background-color: #f6fdfe;
  box-shadow: 0 4px 8px 0 #30475e, 0 4px 8px 0 #30475e;
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="email"], input[type="password"], input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.btn-login{
  color: #333;
}
.box1{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 10px 0 15px 0;
  background-color: rgb(224, 229, 240);
}
.div1{
  display: inline-block;
}
.btn{
  width: 49%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: rgb(197, 201, 229);
  color: #fff;
}